body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd; 
    color: #333;
    margin: 0;
    padding: 0;
}

.main-header {
    text-align: center;
    background-color: #64b5f6;
    color: white;
    padding: 20px;
    font-size: 1.8em;
    font-weight: bold;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
}


.image-container img {
    width: 150px; 
    height: auto;
    border-radius: 8px;
    margin-right: 15px; 
}


.main-header h1 {
    font-size: 1.8em;
    margin: 0;
    text-align: center;
}

main {
    max-width: 750px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    padding: 12px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

input[type="number"], input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 2px solid #90caf9;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
}

input[type="text"]:focus {
    border-color: #1976d2;
}

.button-group {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

button {
    flex: 1;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    color: white;
}

.bg-cnvrt {
    background-color: #42a5f5;
}

.bg-cnvrt:hover {
    background-color: #1e88e5;; 
}

.bg-rst {
    background-color: #ffcc80; 
}

.bg-rst:hover {
    background-color: #ffa726; 
}

.bg-rvrs {
    background-color: #ec407a;
}

.bg-rvrs:hover {
    background-color: #d81b60;; 
}

.italic-large {
    font-size: 1.5em;
    font-style: italic;
    vertical-align: middle; 
}

h3 {
    background-color: #bbdefb;
    padding: 10px;
    border-radius: 5px;
}

.footer {
    background-color: #007BFF; 
    color: white;
    text-align: center;
    padding: 2px 0;
    font-size: 14px;
    font-weight: bold;
    position: relative; 
    width: 100%;
}
